@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

.deliveryStatusTable {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 1rem;
	width: 95%;
	border-collapse: collapse;
}

.tableTitle {
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	margin-top: 4rem;
	text-align: left;
	font-size: 1.2rem;
	padding-bottom: 8px;
}

.ShipmentButton {
	min-width: 64px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1rem;
	color: white;
	background-color: rgb(99, 99, 99);
	border-color: rgb(99, 99, 99);
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: 0;
	box-shadow: 3px 3px #999;
}

.ShipmentButton:hover {
	background-color: #202020;
}

.ShipmentButton:active {
	background-color: #202020;
	box-shadow: 0px 0px #666;
	transform: translateY(3px) translateX(3px);
}
.idTitle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 10%;
	text-align: left;
}

.idCol {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 10%;
	text-align: left;
}

.addressTitle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 20%;
}

.addressCol {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 20%;
}

.deliveryDateTitle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 15%;
	text-align: center;
}

.deliveryDateCol {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 15%;
	text-align: center;
}

.statusTitle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 20%;
	text-align: center;
}

.statusCol {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 20%;
	text-align: center;
}
.servicesTitle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 10%;
	text-align: center;
}

.servicesCol {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 10%;
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 2rem 2rem;
}
